//Slider - Jquery UI
mixin color-slider()
    .color-slider
        .color-slider__custom
        .color-slider__ruler
                    span.color-slider__ruler_value= '0'
                    span.color-slider__ruler_value= '25'
                    span.color-slider__ruler_value= '50'
                    span.color-slider__ruler_value= '75'
                    span.color-slider__ruler_value= '100'